<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epic Button Game</title>
    <script src="js/jquery.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
    <link rel='stylesheet' type='text/css' href='css/style.css'>
</head>
<body>
    <h1>The button has been pushed <span></span> time(s)</h1>
    <h3>Push the button to update the count!</h3>
    <button id="count">Push the epic button</button>
    <button id="reset">Reset count</button>
</body>
</html>
